.card {
  background-color: transparent;
  justify-content: center;
  width: 300px;
  height: 300px;
}

img {
  width: 300px;
  height: 300px;
  text-align: center;
  justify-content: baseline;
}

h3 {
  justify-content: flex-start;
}

.jumbotron {
  background-color: rgb(0, 0, 0);
}

.container {
  margin-top: 0;
}

ul {
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  width: 100%;
}

li {
  display: inline;
}

li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 55px 65px;
  text-decoration: none;
  float: left;
}

li a:hover {
  background-color: tomato;
}

.active {
  background-color: #4caf4c;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  display: inline;
  color: white;
}

.footer {
  display: inline;
}

p a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline;
  color: white;
  padding: 30px 45px;
}

body {
  background-image: url(/img/pexels-photo-255501.jpeg);
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: relative;
  width: 100%;
  height: 700px;
  color: black;
  text-decoration: none;
  font-size: large;
}


#nav {
  width: 110%;
  height: 25px;
  margin-left: 8px;
  margin-top: 0px;
  padding-top: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  width: 100%;
  display: inline;

}

li {
  display: inline;

}

li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 100px 125px;
  text-decoration: none;

}

li a:hover {
  background-color: tomato;
}

.active {
  background-color: #4caf4c;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  display: inline;
  color: white;

}

p {
  display: inline;
}

p a {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline;
  color: white;
  padding: 30px 45px;
  font-family: unset;
}



.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

