.pic1 {
    height: 550px;
    width: 950px;
}
.pic2 {
    height: 550px;
    width: 950px;
}
.pic3 {
    height: 550px;
    width: 950px;
}
.pic4 {
    height: 550px;
    width: 950px;
}
.pic5 {
    height: 550px;
    width: 950px;
}
.pic6 {
    height: 550px;
    width: 950px;
}
.pic7 {
    height: 550px;
    width: 950px;
}
.pic8 {
    height: 550px;
    width: 950px;
}
.pic9 {
    height: 550px;
    width: 950px;
}
.container-fluid {
    margin-top: 10px;
}
.cardstack {
    margin-top: 100px;
}
body{
    height: 1500px;
    /* background-color: tomato; */
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    display: inline;
    color: white;

}

#ftr P{
    display: inline-block;
}

p a {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
    color: white;
    padding: 30px 45px;

}
.mycards p {
   
}

.navbar-nav{
    padding-left: 1000px;
}
.black {
    color: black;
}
#backgroundOrder{
        background-image: url("../img/cook-food.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 950px;
        color: antiquewhite;
}
.col-md-5 {

    border: 1px solid black;
    border-radius: 10px;
    border-color: white;
    height: 300px;
    margin-top: 100px;
}
#ingredients1{
    font-size: 20px;
}
#ingredients2{
    font-size: 20px;
}
#ingredients3{
    font-size: 20px;
}
#ingredients4{
    font-size: 20px;
}
#ingredients5{
    font-size: 20px;
}