body{
    background-image: url(/img/pexels-photo-255501.jpeg);
    background-attachment: fixed;
}
#nav{
    
    height: 20%;
    margin-left: 8px;
    padding-top: 0%;
    margin-top: 0%;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    width: 100%;
    display: inline;

}

li {
    display: inline;

}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 100px 125px;
    text-decoration: none;
    
 

}

li a:hover {
    background-color: tomato;
}

.active {
    background-color: #4caf4c;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    display: inline;
    color: white;

}

p {
    display: inline;
}

p a {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
    color: white;
    padding: 30px 45px;

}

.jumbotron {
    font-family: 'Anton', sans-serif;
    padding: 15px;
}
.card li{
    display: block;
}
h1{
    font-family: 'Wire One', sans-serif;
    font-family: 'Nosifer', cursive;
}
ol{
    font-family: 'Wire One', sans-serif;
font-family: 'Nosifer', cursive;
font-family: 'Farsan', cursive;

}
img{
    width: 530px;
    height: 600px;
}

